:root {
  --background-top: #f8e0c8;
  --background-bottom: #c9e3c7;
  --entertainment-color: #f26f5b;
  --nature-color: #92b883;
  --cultural-color: #7db8c5;
  --food-color: #f59d6b;
  --others-color: #d2b5c2;
  --hotels-color: #a6c9cd;
  --card-background: #fff9f4;
}
body {
  overflow: auto;
}

.home-container {
  overflow-y: hidden;
}

.map-container {
  width: 100%;
  height: calc(100vh - 5rem);
}
.map {
  width: 100%;
  height: 100%;
}
.search-bar {
  z-index: 1;
}
.pin-popup {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.pin-popup h2 {
  color: black;
  font-size: 18px;
}
.pin-popup p {
  color: black;
  font-size: 10px;
}
.pin-popup span {
  color: black;
  font-size: 10px;
}
.pin-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 200px;
}
.custom-marker {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.category-filter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 12px;
  background-color: #f8eee357;
  backdrop-filter: blur(6px);
}

.category-btn {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.1);
  background-color: rgba(40, 39, 39, 0.236);
}

.category-btn-food-drink.active {
  background-color: #f59d6b;
}
.category-btn-cultural.active {
  background-color: #7db8c5;
}
.category-btn-accommodation.active {
  background-color: #a6c9cd;
}
.category-btn-entertainment.active {
  background-color: #f26f5b;
}
.category-btn-nature.active {
  background-color: #92b883;
}
.category-btn-other.active {
  background-color: #d2b5c2;
}

.places-container {
  padding: 2rem;
}
.places-list {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}
.places-card {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  background-color: #f9f9f9;
}

.add-pin-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #1e1e1e;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  z-index: 1000;
  transition: 0.2s;
}

.add-pin-button:hover {
  background: #333;
}
