:root {
  --background-top: #f8e0c8;
  --background-bottom: #c9e3c7;
  --entertainment-color: #f26f5b;
  --nature-color: #92b883;
  --cultural-color: #7db8c5;
  --food-color: #f59d6b;
  --others-color: #d2b5c2;
  --hotels-color: #a6c9cd;
  --card-background: #fff9f4;
  --button-bg: #3a5d81;
  --menu-button-bg: #3a5d81;
  --button-text: #f8eee3;
  --form-background: #f8f6f3;
  --input-background: rgba(255, 255, 255, 0.5);
  --category-filter-bg: #f8eee357;
  --category-btn-bg: rgba(40, 39, 39, 0.236);
  --profile-container-bg: #3a5e8180;
  --button-hover: #476b90;
  --page-bg: #fffdfb;
}

body {
  overflow: auto;
}
body.dark {
  --menu-button-bg: #f8eee35d;
  --button-bg: #f8eee3b5;
  --button-text: #3a5d81;
  --form-background: #3a5d81;
  --card-background: #21374f;
  --page-bg: #081a2d;
  --category-filter-bg: #ababab57;
  --entertainment-color: #f26f5b96;
  --nature-color: #92b88393;
  --cultural-color: #7db8c5a6;
  --food-color: #f59e6b93;
  --others-color: #d2b5c29d;
  --hotels-color: #a6c9cd90;
}
.home-container {
  overflow-y: hidden;
}

.map-container {
  width: 100%;
  height: calc(100vh - 5rem);
}
.map {
  width: 100%;
  height: 100%;
}
.search-bar {
  z-index: 1;
}
.pin-popup {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
}
.pin-popup h2 {
  color: var(--button-bg);
  font-size: 1.5rem;
}
.pin-popup p {
  color: var(--button-bg);
  font-size: 1rem;
}
.pin-popup span {
  color: var(--button-bg);
  font-size: 1rem;
}
.popup-icon {
  width: auto;
  height: 1.5rem;
}
.popup-like {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pin-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: auto;
  padding: 0.5rem;
  background-color: var(--form-background);
  color: var(--button-bg);
}
.pin-form input,
.pin-form select,
.pin-form textarea,
.file-input {
  background-color: var(--input-background);
  border: none;
  padding: 0.25rem;
  color: var(--button-bg);
  outline: none;
}
.pin-form input::placeholder,
.pin-form textarea::placeholder {
  color: var(--button-bg);
}

input[type="file"]::file-selector-button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 0.3rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.maplibregl-popup-content {
  background-color: var(--form-background);
  color: var(--button-bg);
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: auto;
  height: auto;
}
.maplibregl-popup-close-button {
  color: var(--button-bg);
  cursor: pointer;
}
.pin-form button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.custom-marker {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.category-filter-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  height: 100%;
  margin-left: 1rem;
}

.category-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;

  z-index: 10;
  border-radius: 12px;
  background-color: var(--category-filter-bg);
  backdrop-filter: blur(6px);
}

.category-btn {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.1);
  background-color: var(--category-btn-bg);
}

.category-btn-food-drink.active {
  background-color: var(--food-color);
}
.category-btn-cultural.active {
  background-color: var(--cultural-color);
}
.category-btn-accommodation.active {
  background-color: var(--hotels-color);
}
.category-btn-entertainment.active {
  background-color: var(--entertainment-color);
}
.category-btn-nature.active {
  background-color: var(--nature-color);
}
.category-btn-other.active {
  background-color: var(--others-color);
}

.turn-off-all {
  height: 0.65rem;
  background-color: var(--button-text);
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  cursor: pointer;
}

.places-container {
  padding: 2rem;
  background-color: var(--page-bg);
}
.places-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}
.lists-list {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.add-pin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--menu-button-bg);
  color: var(--button-text);
  border-radius: 0.25rem;
  cursor: pointer;
  z-index: 1000;
  transition: 0.2s;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
}

.add-pin-button:hover {
  background: var(--button-bg);
  color: var(--button-text);
}

.profile-container {
  color: var(--button-bg);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--page-bg);
  min-height: 100vh;
}
.profile-container h1 {
  margin: 0;
  font-size: 3rem;
}
.profile-container hr {
  border: none;
  height: 1px;
  background-color: var(--profile-container-bg);
  margin: 0.25rem 0;
}
.welcome-text {
  font-size: 1.2rem;
  margin: 0;
}
.profile-pic {
  display: flex;
  width: 8rem;
  height: 8rem;
  background-color: var(--button-bg);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  color: var(--button-text);
}
.profile-section {
  margin: 0;
  padding: 0;
}

.profile-section h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.profile-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.logout-button {
  background-color: var(--button-text);
  color: var(--button-bg);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: var(--button-bg);
  color: var(--button-text);
}

.profile-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.profile-tabs {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
  gap: 3rem;
}

.tab {
  border: none;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  color: var(--button-bg);
  font-size: 1.25rem;
  font-weight: 500;
}

.tab:hover {
  text-decoration: underline;
}

.tab.active {
  text-decoration: underline;
  font-weight: 800;
}

.profile-content {
  margin-top: 0;
}

.profile-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.profile-list-item {
  background-color: var(--button-text);
  padding: 0.75rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  color: var(--button-bg);
}

.profile-list-item:hover {
  background-color: var(--button-bg);
  color: var(--button-text);
}

.profile-card-list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0;
}

.profile-card-list::-webkit-scrollbar {
  height: 8px;
}
.profile-card-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
.profile-card-list.dragging {
  cursor: grabbing;
  user-select: none;
}
.profile-card-list {
  cursor: grab;
}
.profile-card {
  min-width: 200px;
  max-width: 220px;
  background-color: var(--card-background);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  flex-shrink: 0;
  transition: transform 0.2s;
  cursor: pointer;
}

.profile-card:hover {
  transform: translateY(-5px);
}

.profile-card-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.profile-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-card-likes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

/* PIN DETAIL PAGE */

.pin-detail-container {
  padding: 2rem;
  color: var(--button-bg);
  background-color: var(--page-bg);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.pin-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.pin-image-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 1rem 0;
}

.pin-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff9f4;
  color: var(--button-bg);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  animation: popupOpen 0.3s ease forwards;
}

@keyframes popupOpen {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.edit-form-vertical {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.edit-form-vertical label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--button-bg);
}

.edit-form-vertical input,
.edit-form-vertical textarea {
  margin-top: 0.25rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: var(--button-bg);
  font-size: 0.95rem;
  outline: none;
}
.edit-button {
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background: transparent;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  color: var(--button-bg);
}
.edit-button:active {
  text-decoration: underline;
}
.edit-button:hover {
  text-decoration: underline;
}
.edit-button-group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.edit-button-group button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
  transition: 0.2s;
}

.delete-button {
  background-color: var(--button-bg);
  padding: 0.35rem;
  color: var(--button-text);
  border: none;
  border-radius: 0.25rem;
}
.delete-button:hover {
  background-color: var(--button-hover);
}
.edit-button-group button {
  width: 4rem;
  background-color: var(--button-bg);
  padding: 0.35rem;
  color: var(--button-text);
  border: none;
  border-radius: 0.25rem;
}
.edit-button-group button:hover {
  background-color: var(--button-hover);
}
.up-town {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pin-reactions button {
  background: transparent;
  border: none;
  color: var(--button-bg);
}

.pin-lists {
  margin-top: 2rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--button-bg);
}

.pin-lists-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.plus-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--button-bg);
  transition: transform 0.2s;
}

.plus-button:hover {
  transform: rotate(90deg);
}

.pin-lists-fields {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}
.pin-lists-fields select {
  width: 20rem;
}
.pin-lists-fields select,
.pin-lists-fields input {
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #ffffffb7;
  color: var(--button-bg);
}

.pin-lists-fields select:focus,
.pin-lists-fields input:focus {
  outline: none;
  border-color: var(--button-bg);
}

.pin-lists-fields button {
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 6px;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pin-lists-fields button:hover {
  background-color: #2c4a6a;
}

.pin-lists-fields p {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
}

.create-new-list {
  padding-left: 4rem;
}
/*LIST DETAIL*/

.pin-detail-container textarea {
  background-color: #fff;
  color: var(--button-bg);
  border: 1px solid #ccc;
}

.edit-form-vertical textarea {
  min-height: 6rem;
}

.edit-form-vertical input,
.edit-form-vertical textarea {
  width: 100%;
}

.edit-form-vertical label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.edit-form-vertical {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--button-text);
  border-radius: 8px;
}
.list-buttons-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-comments-section {
  margin-top: 3rem;
  background: var(--button-text);
  padding: 1.5rem;
  border-radius: 8px;
}

.list-comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.list-comment-form textarea {
  background: var(--card-background);
  color: var(--button-bg);
  border: none;
  padding: 0.75rem;
  border-radius: 6px;
  resize: none;
  outline: none;
}

.list-comment-form button {
  width: fit-content;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.list-comment-form button:hover {
  background-color: var(--button-hover);
}

.list-comment-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

.list-comment-item {
  background: var(--card-background);
  color: var(--button-bg);
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.list-comment-item .comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.comment-delete-button {
  background: transparent;
  border: none;
  color: var(--button-bg);
  font-weight: 900;
  cursor: pointer !important;
  font-size: 0.9rem;
  margin-left: 1rem;
}

/* SELECTED */
.places-tabs {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.category-filter-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 2rem;
}

.category-btn-small {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.1);
  background-color: var(--category-btn-bg);
}

.category-btn-small img {
  width: 1.5rem;
  height: 1.5rem;
}
#category-btn-small-delete {
  margin-left: 1rem;
}

.places-card {
  background-color: var(--card-background);
  border-radius: 0.25rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--button-bg);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.lists-card {
  background-color: var(--card-background);
  border-radius: 0.25rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--button-bg);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.places-card h3,
.places-card p {
  margin: 0;
}

.places-card-img {
  width: 100%;
  height: 14rem;
  overflow: hidden;
  border-radius: 0.25rem;
}

.places-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places-card-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.list-description {
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.4;
  max-height: 6rem;
  overflow: hidden;
}
.list-detail-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list-detail-bottom button {
  background-color: var(--button-bg);
  border: none;
  padding: 0rem 0.5rem;
  border-radius: 0.25rem;
  color: var(--button-text);
  height: 2rem;
}
.cover-image-container {
  width: 100%;
  height: 40rem;
  overflow: hidden;
  border-radius: 0.25rem;
}
.cover-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-list-item-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: var(--button-text);
  padding: 0.75rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  color: var(--button-bg);
}
.profile-list-left {
  width: 100%;
}

.profile-list-right {
  width: 100%;
}
.profile-list-right img {
  width: 100%;
}

/* EXTRA IMAGES */
.extra-images-slider {
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: hidden;
  margin-top: 1rem;
  border-radius: 8px;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: none;
  cursor: pointer;
  z-index: 2;
  color: var(--button-text);
}

.slider-arrow.left {
  left: 1rem;
}

.slider-arrow.right {
  right: 1rem;
}

.ok-button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}
.ok-button:hover {
  background-color: var(--button-text);
  color: var(--button-bg);
}

.notif-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* SİGN IN */

.auth-container {
  max-width: 400px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  color: var(--button-bg);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-form input {
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--input-background);
  color: var(--button-bg);
}

.auth-form button {
  padding: 0.75rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.auth-form button:hover {
  background-color: var(--button-hover);
}

.error-text {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

.auth-toggle-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--button-bg);
}

.auth-toggle-text a {
  color: var(--button-hover);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
/* ABOUT TAGS */

.tag-free {
  background: #92b883;
  color: var(--button-text);
}
.tag-\$ {
  background: #f59d6b;
  color: var(--button-text);
}
.tag-\$\$ {
  background: #f59d6b;
  color: var(--button-text);
}
.tag-\$\$\$ {
  background: #f59d6b;
  color: var(--button-text);
}
.tag-touristic {
  background: #7db8c5;
  color: var(--button-text);
}
.tag-local {
  background: #7db8c5;
  color: var(--button-text);
}
.tag-new {
  background: #f26f5b;
  color: var(--button-text);
}
.tag-crowded {
  background: #d2b5c2;
  color: var(--button-text);
}
.tag-quiet {
  background: #d2b5c2;
  color: var(--button-text);
}
.tag {
  opacity: 0.4;
  transition: opacity 0.2s;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin-right: 0.25rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.tag.active {
  opacity: 1;
}

/* List DEtail Cards */

.pin-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}

.pin-card {
  background: var(--card-background);
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  height: 28rem;
}

.pin-card:hover {
  transform: translateY(-4px);
}

.pin-card-image {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.pin-card-content {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.pin-card-content h3 {
  margin: 0;
  font-size: 1.1rem;
}

.pin-card-content p {
  font-size: 0.95rem;
  margin: 0.5rem 0;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pin-card-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #666;
}

.search-bar-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.search-input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  background-color: var(--card-background);
  color: var(--button-bg);
}
.toggle-tags-btn {
  margin: 0.5rem 0;
  padding: 0.4rem 0.8rem;
  background: var(--menu-button-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--button-text);
}

.category-icon {
  width: 1.85rem;
  height: 1.85rem;
}

@media (max-width: 767px) {
  .category-filter-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    margin-right: 0rem;
    margin-left: 1rem;
  }

  .category-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    padding-right: 2rem;
  }

  .category-btn {
    flex: 0 0 auto;
    width: calc(100vw / 10);
    height: calc(100vw / 10);
    max-width: 4rem;
    min-width: 1rem;
    aspect-ratio: 1 / 1;
  }
  .turn-off-all,
  .add-pin-button,
  .toggle-tags-btn {
    width: calc(100vw / 25);
    height: 100%;
  }
  .add-pin-button {
    margin-right: 1rem;
  }

  .category-icon {
    width: calc(100vw / 20);
    height: calc(100vw / 20);
  }
  .tag-container {
    overflow: scroll;
    scrollbar-width: none;
  }
  .places-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }
  .lists-list {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }
  .search-input {
    padding: 0.5rem 0.5rem;
    font-size: 0.75rem;
    width: 100%;
  }
  .category-filter-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 0.5rem;
  }
  .pin-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
  }
}
