@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
a {
  text-decoration: none;
}

.nav-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 1rem 2rem;
  background-color: #f8eee3;
  height: 5rem;
  box-sizing: border-box;
}
.nav-logo-link {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3a5d81;
}
.nav-rigth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.nav-rigth a {
  color: #3a5d81;
  font-size: 1.1rem;
  font-weight: 500;
}
.nav-rigth a:hover {
  text-decoration: underline;
}

.search-bar {
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 500px;
}

.search-bar input {
  width: 100%;
  color: #3a5d81;
  border: none;
  background: transparent;
  outline: none;
  z-index: 1001;
}

.suggestions {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 4.5rem;
  max-height: 20rem;
  overflow-y: hidden;
  background-color: #f8eee384;
  border-radius: 0.5rem;
  color: #3a5d81;
}

.suggestions li {
  padding: 6px;
  cursor: pointer;
}

.suggestions li:hover {
  background: #3a5e81b1;
  font-weight: bold;
  color: #f8eee384;
}

.suggestions li.highlighted {
  background: #3a5e81b1;
  color: #f8eee384;
  font-weight: bold;
}
